.index-bg {
    margin: 0;
    height: 100%;
    background-image: url('/static/images/desert_menu.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.first-level-bg {
    margin: 0;
    height: 100%;
    background-image: url('/static/images/level_1_streetview.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.second-level-bg {
    margin: 0;
    height: 100%;
    background-image: url('/static/images/level_2_tavern.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.index-content {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

