.background {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.index-content {
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.first-level-bg {
    cursor: url('/static/images/crosshair.cur'), auto;
}

.second-level-bg {
    cursor: url('/static/images/crosshair.cur'), auto;
}

.bandit01 {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 10%;
}

.bandit02 {
    position: absolute;
    top: 30%;
    left: 28%;
    width: 8%;
}

.bandit03 {
    position: absolute;
    top: 60%;
    left: 35%;
    width: 10%;
}

.bandit04 {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 8%;
}

.citizen03 {
    position: absolute;
    top: 20%;
    left: 38%;
    width: 10%;
}

.citizen02 {
    position: absolute;
    top: 25%;
    left: 63%;
    width: 10%;
}

.citizen01 {
    position: absolute;
    top: 20%;
    left: 52%;
    width: 10%;
}

.points {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 1;
}
.sound-icon {
    position: absolute;
    top: 89%;
    left: 84.5%;
    width: 5%;
    z-index: 1;
}