<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Western Game</title>
</head>
<body>

<div class="fullscreen-bg">
    <video loop muted autoplay poster="images/videoframe.jpg" class="back_ground_video">
        <source src="static/video/desert.webm" type="video/webm">
    </video>
</div>

<a href="{{ url_for('first_level') }}">
    <button type="button">Start game</button>
</a>

<a href="{{ url_for('second_level') }}">
    <button type="button">Start level 2</button>
</a>
</body>
</html>